<div style="padding-left: 5%;">
  <% @main_pages.each do |item|%>
    <% if item == "Fizz" %>
      <div><%= image_tag "fizz.png" %></div>
    <% elsif item == "Buzz" %>
      <div><%= image_tag "buzz.png" %></div>
    <% elsif item == "FizzBuzz" %>
      <div>
        <span><%= image_tag "fizz.png" %><%= image_tag "buzz.png" %></span>
      </div>
    <% else %>
      <div><%= item %></div>
    <% end %>
  <% end %>
</div>
<%= button_to t(".btn_back"), root_path, method: :get, class: "btn btn-primary col-md-2" %>
